body{
    color:#40514E;
    margin:0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 20px;    
}
h1{
    color: #66bfbf;
    margin-top:50px, auto;
    font-family: 'Sacremento', cursive;
    
    font-size: 90px;
    

}
p{
    margin:0%
    line-height: 1rem;
}
hr{
  border: dotted #eaf6f6 6px; 
  border-bottom: none; 
  width:4%;
  margin: 100px auto;
}
h2{
    color: #66bfbf;
    font-family: sans-serif;
    font-size: 2.5em;
    padding-bottom:10px ;
}

h3{
    color: #11999E;
    font-family: sans-serif;
}

.top-container{

    background-color:#e4f9f5;
    position:relative;
    padding-top:100px ;
}
.top-container h1{
    font-family: 'Sacramento', cursive;

}
.container{
    position: relative;
  }
  
  
.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #66bfbf;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.middle-container{
   margin:100px 0;
    
}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;

}
.pro{
    text-decoration:underline; ;
}
a{
    color:#11999e;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a:hover{
    color:#eaf6f6;
}

.top-cloud{
    position: absolute;
    top: 40px;
    right: 10px;
    
}
.bottom-cloud{
    position:absolute;
    left: 250px;
    bottom:300px;
}
.skill-row{
    text-align: center;
    width:auto;
    margin: 100px;
    text-align:20% ;
}
.code-img{
    width: 200px;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
}
.brain-img{
    float:right;
    margin-left: 30px;
    width:200 px; 
    border-radius: 50%;
}
.description{
    clear: left;
}
.intro{
    width:30%;
    margin:auto;
}
.contact-me{
    width:40%;
    margin: 40px auto 60px;
}
.copyright{
    color:#eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  .abdul{
    clip-path: circle(50%);
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: no;
   

